body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: hsla(337, 48%, 89%, 0.61);
    font-family: 'Times New Roman', Times, serif;
}
#div{
    
    text-align: center;
    

}
button{
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(189, 181, 181);
    padding: 15px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    
    border: 1px black;
}
button:hover{
    background-color: rgb(207, 170, 176);
}
#btn1 {
    margin-right: 40px;
}
#btn7{
    position: relative;
}